*{
    margin: 0;
    padding: 0;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 4rem;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 2rem;
}

@media only screen and (min-width:800px) and (max-width:900px) {
    
    .foot{
        margin: 1rem -22rem 0rem 29rem;
    }
}

@media only screen and (min-width:900px) and (max-width:1000px) {
    
    .foot{
        margin: 1rem -22rem 0rem 21rem;
    }

}

@media only screen and (min-width:1000px) and (max-width:1100px) {
    
    .foot{
        margin: 1rem -22rem 0rem -4rem;
    }
}

@media only screen and (min-width:1100px) and (max-width:1200px) {
    .foot{
        margin: 1rem -22rem 0rem -12rem;
    }
}

@media only screen and (min-width:1200px) and (max-width:1240px) {
    .foot{
        margin: 1rem -22rem 0rem -12rem;
    }

}