*{
    margin: 0px;
    padding: 0px;
}

.feature-cards12 {
    margin-left: 12vh;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


.men-btn {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 2vh 0vh 0vh 30rem;
}

.men-btn:hover {
    cursor: pointer;
}


#men-btn1 {
    margin-left: 4rem;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 4vh;
    padding-left: 4vh;
    background-color: black;
    margin-top: 1rem;
}

.men-btn2 {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 2vh 0vh 0vh 34rem;
}

.men-btn2:hover {
    cursor: pointer;
}

.desc-large1 {
    font-size: -webkit-xxx-large;
    font-family: fantasy;
    margin-top: 4vh;
    margin-left: 9vh;
}

.description21 {
    margin-top: 2vh;
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.R4-card-btn1 {
    width: 27vw;
}